*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
h1{
  font-size: 5rem;
}
button{
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: rgb(165, 165, 234);
  font-size: 1.3rem;
  margin-top: rem;
}